@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
input {
    font-family: "Poppins", sans-serif;
}

.titre_logo {
    display: flex;
    flex-direction: row;
}


.content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/test.png");
    background-position: center center;
    background-attachment: fixed;
    background-color: #464646;
}

.signin-signup {
    padding: 20px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 450px;
    height: auto;
    border: 2px solid #bfbcbc;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.title {
    font-size: 40px;
    color: #838080;
}

.forgotPassword, .change {

    font-weight: 450;
    font-size: 15px;
    color: #838080;
    margin-top: 10px;
    max-width: 480px;
    width: 100%;
}

.forgot {
    color: #838080;
    text-decoration: none;

}

.bottom_link {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: center;

}

.forgot:hover {

    color: #84a4d9;
    transition: .3s;
}

.typeInsert {
    font-weight: 450;
    font-size: 25px;
    color: #838080;
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
    text-align: left;
}

.input-field {
    border: 1px solid #dedcdc;
    max-width: 100%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
    padding: 0;
}

.input-field i {
    margin-right: 15px;
    text-align: center;
    line-height: 55px;
    opacity: 70%;
    color: #838080;
}

.input-field input {
    color: #838080;
    width: 75%;
    margin-left: 15px;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
}

.input-field:focus-within {
    border: 2px solid #838080;
    transition: .2s;
}

.input-field input::placeholder {
    color: #838080;
    font-weight: 500;
}


.btn {
    margin-top: 20px;
    width: 150px;
    background-color: #84a4d9;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

}

.btn:hover {
    background-color: #4e70a2;

}

.errorLabel {
    color: indianred;
}